<app-navbar></app-navbar>


<!--

-------------------------------------------------------------------------------------------------- 
------------------------------ BASIC INTERFACE FOR USER MANAGEMENT -------------------------------
-------------------------------------------------------------------------------------------------- 

<div class="container mt-S">
    <h1> User Management </h1>
    <a routerLink="create" class="btn btn-success">Create</a>
    <a routerLink="read" class="btn btn-primary">Read</a>
</div>
-->

<router-outlet></router-outlet>
