<div class="card" >
    <div class="card-body">
        <h5 class="card-title">{{game.name}}</h5>
        <span *ngFor="let category of game.category; let i = index;" [ngSwitch]="i">    <!--Category-->
            <span *ngSwitchCase="0" class="badge rounded-pill text-bg-primary">{{category}}</span>
            <span *ngSwitchCase="1" class="badge rounded-pill text-bg-secondary">{{category}}</span>
            <span *ngSwitchCase="2" class="badge rounded-pill text-bg-success">{{category}}</span>
            <span *ngSwitchCase="3" class="badge rounded-pill text-bg-danger">{{category}}</span>
            <span *ngSwitchCase="4" class="badge rounded-pill text-bg-warning">{{category}}</span>
            <span *ngSwitchCase="5" class="badge rounded-pill text-bg-info">{{category}}</span>
            <span *ngSwitchCase="6" class="badge rounded-pill text-bg-light">{{category}}</span>
            <span *ngSwitchCase="7" class="badge rounded-pill text-bg-dark">{{category}}</span>
        </span>

        <img src="{{game.image}}" class="card-img-top" alt="...">   <!--Image-->
    
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <p>{{game.simpleDescription}}</p>   <!--Description-->
                <a href="#" class="card-link">{{game.developer}}</a>    <!--Developer name-->
                <p>☆☆☆☆☆</p>
            </li>
            <li class="text-center list-group-item">
                <span class="badge text-bg-warning">{{game.price}}€</span>  <!--Price-->
            </li>
        </ul>
        <div class="text-center">
            <button type="button" class="btn btn-primary" (click)="readMore()">En savoir plus</button>  <!--Link to full game display-->    
        </div>
    </div>
</div>