<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">{{game.name}}</h5>
        <span class="badge rounded-pill text-bg-primary">FPS</span>
        <span class="badge rounded-pill text-bg-secondary">Multijoueur</span>
        <img src="{{game.image}}" class="card-img-top" alt="...">
    
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <p>{{game.simpleDescription}}</p>
            <a href="#" class="card-link">{{game.developer}}</a>
        </li>
        <li class="text-end list-group-item">
            <p>{{game.price}}€ <a href="#" class="btn btn-primary">En savoir plus</a></p>
        </li>
      </ul>    
    </div>
</div>