<div class="search-box">
  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text">Search by:</span>
    </div>
    <select class="custom-select" id="inputGroupSelect01" [(ngModel)]="searchType">
      <option value="user">User</option>
      <option value="game">Game</option>
    </select>
  </div>
  <div class="search-container" *ngIf="searchType === 'game'">
    <label for="gameName">Game Name:</label>
    <input type="text" id="gameName" name="gameName" [(ngModel)]="gameName">

    <ngx-slider [(value)]="minPrice" [(highValue)]="maxPrice" [options]="options"></ngx-slider>
    
    <label for="developer">Developer:</label>
    <input type="text" id="developer" name="developer" [(ngModel)]="developer">
  </div>
  <div class="search-container" *ngIf="searchType === 'user'">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" [(ngModel)]="searchQuery">
  </div>
  <div class="text-center">
  <button class="btn" (click)="search()">Search</button>
  </div>
</div>

  <table class="table">
  
    <tbody>
      <div *ngIf="searchType === 'user'">
      <tr *ngFor="let item of userArray">
        <th scope="row">{{ item.ID }}</th>
        <td>{{ item.username}}</td>
        <td>{{ item.password}}</td>
      </tr>
      </div>
      <tr *ngIf="searchType === 'game'">
        <td>
          <div class="card-group">
            <app-game class="game" *ngFor="let gameVar of gameArray; let i = index" [game]="gameVar" [game_idx]="i"/>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  
  