<div>
  <!--Researche page with all filters-->
    <input type="text" [(ngModel)]="searchQuery" placeholder="Enter search query" />
    <button (click)="search()">Search</button>
  </div>
  
  <div>
    <label for="searchType">Search by:</label>
    <input type="radio" id="userSearch" name="searchType" [(ngModel)]="searchType" value="user" checked>
    <label for="userSearch">User</label>
    <input type="radio" id="gameSearch" name="searchType" [(ngModel)]="searchType" value="game">
    <label for="gameSearch">Game</label>
  </div>
  
  <div *ngIf="searchType === 'game'">
    <label for="gameName">Game Name:</label>
    <input type="text" id="gameName" name="gameName" [(ngModel)]="gameName">
  
    <label for="minPrice">Minimum Price:</label>
    <input type="number" id="minPrice" name="minPrice" [(ngModel)]="minPrice">
  
    <label for="maxPrice">Maximum Price:</label>
    <input type="number" id="maxPrice" name="maxPrice" [(ngModel)]="maxPrice">
  
    <label for="developer">Developer:</label>
    <input type="text" id="developer" name="developer" [(ngModel)]="developer">
  </div>
  <p>{{ searchQuery }}</p>

  <table class="table">
  
    <tbody>
      <div *ngIf="searchType === 'user'">
      <tr *ngFor="let item of searchResults">
        <th scope="row">{{ item.ID }}</th>
        <td>{{ item.username}}</td>
        <td>{{ item.password}}</td>
      </tr>
      </div>
      <tr *ngIf="searchType === 'game'">
        <td>
          <div class="card-group">
            <app-game class="game" *ngFor="let gameVar of gameArray; let i = index" [game]="gameVar" [game_idx]="i"/>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  
  