<div class="container">
    <h3 class="card-title">{{game.name}}</h3>


    <div class="card " style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Informations techniques</h5>
          <p class="card-text" style="text-align: center;">Chaque jeux diposent de ses informations spécifiques: composants minimum, style de jeu, prix et développeur</p>
        </div>

        <div class="card-body">
            <p class="card-text" style="text-align: center;">Chaque jeux diposent de ses informations spécifiques: composants minimum, style de jeu, prix et développeur</p>
        </div>

        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <span *ngFor="let category of game.category; let i = index;" [ngSwitch]="i">    <!--Category-->
                <span *ngSwitchCase="0" class="badge rounded-pill text-bg-primary">{{category}}</span>
                <span *ngSwitchCase="1" class="badge rounded-pill text-bg-secondary">{{category}}</span>
                <span *ngSwitchCase="2" class="badge rounded-pill text-bg-success">{{category}}</span>
                <span *ngSwitchCase="3" class="badge rounded-pill text-bg-danger">{{category}}</span>
                <span *ngSwitchCase="4" class="badge rounded-pill text-bg-warning">{{category}}</span>
                <span *ngSwitchCase="5" class="badge rounded-pill text-bg-info">{{category}}</span>
                <span *ngSwitchCase="6" class="badge rounded-pill text-bg-light">{{category}}</span>
                <span *ngSwitchCase="7" class="badge rounded-pill text-bg-dark">{{category}}</span>
            </span>        
          </li>
          <li class="list-group-item">Jeu développé par : <a href="javascript:void(0)" class="card-link" (click)="calldev()"> {{game.dev}}</a> </li>
          <li class="list-group-item"><span class="badge text-bg-warning">{{game.price}}€</span>  <!--Price--></li>
          <li class="list-group-item">☆☆☆☆☆</li>
          <li class="list-group-item">
            <span class="badge rounded-pill text-bg-info">{{game.cpu}}</span>
            <span class="badge rounded-pill text-bg-success">{{game.gpu}}</span>
            <span class="badge rounded-pill text-bg-danger">{{game.ram}}</span>   
          </li>

          <button type="button" class="btn btn-primary">Acheter</button>  <!--Buy the game-->  

        </ul>
    </div>

    <div class="descri">
        <h3>Description</h3>
        <p>{{game.longDescription}}</p>   <!--Description-->
    </div>
    <hr> 


    <hr>

    <!-- Video -->
    <ng-container *ngIf="game.videoCode">
        <div class="text-center carousel-item active">
          <div #youtubePlayer>
            <youtube-player #youtubeVideo videoId="{{ game.videoCode }}" [playerVars]="{autoplay: 1}" [height]="videoHeight" [width]="videoWidth"></youtube-player> <!-- Presentation video -->
          </div>
        </div>
      </ng-container>

    <!-- Carousel -->
    <ng-container *ngIf="game.images && game.images.length > 0">
    <div id="carouselIndicators" class="carousel slide">
        <!-- Indicators -->
        <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselIndicators" *ngFor="let image of game.images; let i = index" [attr.data-bs-slide-to]="i+1" [attr.aria-label]="'Slide ' + (i + 2)"></button>
        </div>

        <!-- Slides -->
        <div class="carousel-inner">
        <div class="carousel-item active">
            <img [src]="game.images[0]" class="card-img-top" [alt]="'Image 1'">
        </div>
        <div class="carousel-item" *ngFor="let image of game.images; let i = index">
            <img [src]="image" class="card-img-top" [alt]="'Image ' + (i + 2)">
          </div>
          
        </div>

        <!-- Navigation buttons -->
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
        </button>

        <button class="carousel-control-next" type="button" data-bs-target="#carouselIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
        </button>
    </div>
    </ng-container>

      
    <hr>
</div>

