<h2>Your profile</h2>

<section class="vh-100" style="background-color: #f4f5f7;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-6 mb-4 mb-lg-0">
        <div class="card mb-3" style="border-radius: .5rem;">
          <div class="row g-0">
            <div class="col-md-4 gradient-custom text-center text-white"
              style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
              <img src="{{profilePictureUrl}}" alt="Avatar" class="img-fluid my-5" style="width: 80px;" />
              <h5>{{ username }}</h5>
              <p>User</p>
              <i class="far fa-edit mb-5"></i>
            </div>
            <div class="col-md-8">
              <div class="card-body p-4">
                <h6>Information</h6>
                <hr class="mt-0 mb-4">
                <div class="row pt-1">
                  <div class="col-6 mb-3">
                    <h6>ID :</h6>
                    <p class="text-muted">{{ userId }}</p>
                  </div>
                  <div class="col-6 mb-3">
                    <h6>Developer Status</h6>
                    <p class="text-muted">{{ isDeveloper ? 'Developer' : 'Not a Developer' }}</p>
                  </div>
                </div>
                <h6>Games :</h6>
                <hr class="mt-0 mb-4">
                <div *ngIf="!isDeveloper" class="row pt-1">
                  <p class="text-muted">User not a developer!</p>
                </div>
                <div *ngIf="isDeveloper" class="row pt-1">
                  <div class="col-12 mb-3">
                    <button class="btn btn-primary" (click)="toggleGames()">
                      {{ showGames ? 'Hide Games' : 'View Games' }}
                    </button>
                  </div>
                  <div class="col-12" *ngIf="showGames">
                    <hr class="mt-0 mb-4">
                    <div *ngFor="let game of games; let i = index">
                      <h6>
                        <strong>Game {{ i + 1 }} : </strong>
                        <span class="game-name" (click)="redirectToGamePage(game.ID)">{{ game.name }}</span>
                      </h6>
                    </div>
                    <br>
                    <hr class="mt-0 mb-4">
                  </div>
                  <div class="col-12 mb-3">
                    <br> 
                    <!-- <div *ngIf="userId === loggedInUserId" class="col-12 mb-3"></div> -->
                    
                    <button class="btn btn-primary" (click)="showAddGameSection = !showAddGameSection">
                      {{ showAddGameSection ? 'Hide adding section' : 'Add a new game you are proud of!' }}
                      <br>
                    </button>
                    <br><br>
                    <div class="col-12 mb-3" *ngIf="showAddGameSection">
                      <hr class="mt-0 mb-4">
                      <form [formGroup]="userForm">
                        <!-- Existing code for other form fields -->

                        <div class="mt-3">
                          <input type="text" class="form-control" placeholder="Game Name" formControlName="gameName" name="gameName">
                        </div>
                        <div class="mt-3">
                          <h6>Images:</h6>
                          <div class="mt-3">
                            <div *ngIf="images.length > 0">
                              <img *ngFor="let imagePath of images" [src]="imagePath" alt="Uploaded Image" width="200">
                            </div>
                            <div>
                              <input type="file" (change)="onFileSelected($event)" [disabled]="!isSelectedFile">
                            </div>
                          </div>
                          <!--<button class="btn btn-primary mt-2" (click)="addImage()">Add Image</button>-->
                          <button class="btn btn-success mt-3" (click)="uploadFile()">Upload File</button>

                        </div>

                        <br>
                        <hr class="mt-0 mb-4">
                        
                        
                        <div>
                          <label for="category-select"> Select Category :  .</label>
                          <select id="category-select" (change)="addCategory($event.target)">
                            <option value="" disabled selected>Select a category</option>
                            <option *ngFor="let category of predefinedCategories" [value]="category">{{ category }}</option>
                          </select>
                        </div>

                        <br>

                        <div *ngIf="categories.length > 0">
                          <h6>Selected Categories:</h6>
                          <ul>
                            <li *ngFor="let selectedCategory of categories">{{ selectedCategory }}</li>
                          </ul>
                        </div>

                        <div class="mt-3">
                          <br>
                          <h6>Description:</h6>
                          <textarea class="form-control mt-2" rows="4" placeholder="Description" formControlName="description" name="description"></textarea>
                        </div>
                      
                        <div class="mt-3">
                          <br>
                          <h6>Long Description:</h6>
                          <textarea class="form-control mt-2" rows="8" placeholder="Long Description" formControlName="longDescription" name="longDescription"></textarea>
                        </div>

                        <br>
                        <input type="number" class="form-control mt-3" placeholder="Price" formControlName="price" name="price">
                        <input type="text" class="form-control mt-3" placeholder="Video Code" formControlName="videoCode" name="videoCode">

                        <br>
                      
                        <button class="btn btn-success mt-3" (click)="addGameByDeveloper()">Submit</button>

                      </form>
                    </div>
                  </div>
                  
                </div>
                

                <div *ngIf="showSuccessMsg" id="successMsg" class="alert alert-success alert-dismissible" role="alert">
                    <strong>{{successMsg}}</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" (click)="closeSuccessMsg()"></button>
                </div>
                  
                  
                  

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
